<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Flashy</title>

    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/scripts.js"></script>
  </head>

  <body>
    <h2>All Users</h2>
    <div id="users">
    </div>
    <h2>Sign-Up</h2>
    <form method="POST" id="userCreate" action="/api/users">
      <p>User Name (all one word)</p>
      <input type="text" name="userName" id="userName" value="" required=""/>
      <p>Email</p>
      <input type="text" name="email" id="email" value="" required=""/>
      <input type="submit" />
    </form>
  </body>
</html>
