  <h2>Welcome, {{usersShowCtrl.user.userName}}!</h2>
  <h4>your email currently is: </h4> <span>{{usersShowCtrl.user.email}}</span>
  <h4>you've been a user since: </h4>
  <span>{{usersShowCtrl.user.userSince}}</span>
  <h4>your current decks are: </h4>

  <input type="text" ng-model="searchText" placeholder="Search Your Decks">
  <div ng-repeat="deck in usersShowCtrl.user.decks | orderBy: 'deckName' | filter: searchText">
    <ul>
      <li>
        <div>{{deck.deckName}}</div>
      </li>
    </ul>
  </div>
</div>

<!-- <h2>Sign-Up!</h2> -->
  <!-- <form ng-submit="usersIndexCtrl.createUser()">
    <input type="text" placeholder="name" ng-model="usersIndexCtrl.newUser.userName">
    <input type="text" placeholder="email" ng-model="usersIndexCtrl.newUser.email">
    <p><b>usersIndexCtrl.newUser:</b> {{usersIndexCtrl.newUser.userName}}</p>
    <button type="submit">Submit</button>
  </form> -->
